* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}

body{
    width: 100%;
}

.inactive{
    display: none;
}

header{
    position: sticky;
    top: 0;
    background-color: #000000;
}

#menuPrincipal{
    display: flex;
    height: auto;
    color: white;
}

.mensajePromocional{
    width: 85%;
    display: flex;
    font-size: 1.2rem;
    justify-content: center;
    align-items: center;
}

.redesSociales{
    display: flex;
    font-size: 1.2rem;
    justify-content: flex-end;
}

.listaRedes {
    justify-content: center;
    align-items: center;
}

.redesSociales .listaRedes{
    display: flex;
    padding: 5px;
}

.redesSociales .listaRedes img:hover {
    /*background-image: radial-gradient(circle,#405DE6 0%,#F77737 20%,#FFDC80 100%);*/
    box-shadow: 2px 4px 10px 4px white;
}

img{
    background-color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-left: 10px;
}

.redesSociales .listaRedes a{
    cursor: pointer;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
    font-size: 1.5rem;
    display: inline-block;
    margin-left: 1rem;
}

.logo{
    width: 19%;
}

.logo img{
    width: 15rem;
    height: 5rem;
}

#subMenuPrincipal{
    display: flex;
    background-color: white;
    height: 5rem;
}

.listaItems {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 2.5rem;
}

.listaItems ul {
    height: 50px;
}

.listaItems li a {
    display: flex;
    background-color: white;
    width: 100px;
    height: 50%;
    border-radius: 30px;
    text-align: center;
    margin: 0.5rem;
    box-shadow: none; 
    justify-content: center;
}

.listaItems a {
  color: black;
}

.listaItems li a:hover {
    background-color: black;
    color: white;
    box-shadow: 2px 4px 10px 4px black;
}

.listaApoyo{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 40%;
}

.listaApoyo li img:hover {
    background-color: rgb(226, 201, 201);
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 26px;
    place-content: center;
    margin-top: 20px;
}

.product-card {
    width: 240px;
}

.product-card img {
    width: 240px;
    height: 240px;
    border-radius: 20px;
    object-fit: cover;
}

.product-card .product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.product-card .product-info div {
    font-size: 1.5rem;
}

.product-card .product-info figure {
    margin: 0;
}

.product-card .product-info figure img {
    width: 35px;
    height: 35px;
}

.product-card .product-info div p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}

.product-card .product-info div p:nth-child(2) {
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 0;
    color: var(--very-light-pink);
}

  /* DETALLES DE PROCUTO */

#productDetail-close {
    background: var(--white);
    width: 14px;
    height: 14px;
    position: absolute;
    top: 24px;
    left: 24px;
    z-index: 2;
    padding: 12px;
    border-radius: 50%;
}

#productDetail-close:hover {
    cursor: pointer;
}

#productDetail > img:nth-child(2) {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 0 0 20px 20px;
}

#productDetail .product-info {
    margin: 24px 24px 0 24px;
}

#productDetail .product-info p:nth-child(1) {
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}

#productDetail .product-info p:nth-child(2) {
    color: var(--very-light-pink);
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 36px;
}

#productDetail .product-info p:nth-child(3) {
    color: var(--very-light-pink);
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 36px;
}

.primary-button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}

.add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-shopping-cart {
    position: relative;
    cursor: pointer;
}

.navbar-shopping-cart div {
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -6px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 640px) {
    #menuPrincipal {
        display: grid;
        height: 8rem;
        width: 100%;
    }
    .mensajePromocional {
        width: 100%;
    }
    #subMenuPrincipal {
        display: grid;
    }
    .listaItems {
        width: 100%;
        height: 10px;
    }
    .listaItems ul {
        height: 25px;
    }
    .listaItems li a {
        width: 60px;
        margin: 0;
    }
    .logo {
        width: 100%;
        height: auto;
        border-radius: 20%;
        justify-content: center;
        align-items: center;
        display: grid;
    }


    .listaApoyo{display: none;}
}

@media (max-width: 640px) {
    .menu {
      display: block;
    }
    .navbar-left ul {
      display: none;
    }
    .navbar-email {
      display: none;
    }
    .desktop-menu {
        display: none;
    }
    aside {
        width: 100%;
    }
    .cards-container {
        grid-template-columns: repeat(auto-fill, 140px);
    }
    .product-card {
        width: 140px;
    }
    .product-card img {
        width: 140px;
        height: 140px;
    }
  }

  @media (min-width: 641px) {
    .mobile-menu {
        display: none;
    }
  }


  /*Aqui van los estilos de casilla usuario*/

  .desktop-menu {
    position: absolute;
    background: white;
    top: 80px;
    right: 50px;
    width: 150px;
    height: auto;
    border: 1px solid gray;
    border-radius: 6px;
    padding: 20px 20px 0 20px;
  }
  .desktop-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .desktop-menu ul li {
    text-align: end;
  }
  .desktop-menu ul li:nth-child(1),
  .desktop-menu ul li:nth-child(2) {
    font-weight: bold;
  }
  .desktop-menu ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid black;
  }
  .desktop-menu ul li:last-child a {
    color: black;
  }
  .desktop-menu ul li a {
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
  }


